
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="post-30" class="padding-30">
    <div class="row">
        <div class="container col-sm-12">
            <div>
                <h3 style="text-align: center; font-size:40px; color:#800000; text-shadow: 0 1px 0 #800000, 0 2px 0 yellow, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);">
                    Contact Us
                </h3>

            </div>

            <br /><br />
            <div class="row">
                <div class="container col-sm-4">
                    <div>
                        <div class="align-items-center">
                            <div class="bg-transparent text-center">
                                <span class="fa fa-map" style="color:#800000 !important ;font-size:2.85em;"></span>
                            </div>
                        </div>


                        <div class="margin-20">
                            <h5 style="text-align: center;">Near Parade Mandir Sagar (M.P.)- 470001</h5>

                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="margin-20">
                        <h4 style="text-align:center; color:black;"><span class="fa fa-clock"></span>  Office Timing</h4>
                        <p style="text-align:center;">10:00 am to 1:00 pm.</p>
                         </div>

                    </div>

                </div>
                <div class="container col-sm-4">
                    <div class="align-items-center">
                        <div class="bg-transparent text-center">
                            <span class="fa fa-phone" style="color:#800000 !important;font-size:2.85em;"></span>
                        </div>
                    </div>

                    <div class="margin-20">
                        <h5 style="text-align: center;"><i class="fa fa-phone" aria-hidden="true"></i> 07582-223907</h5>

                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="margin-20">
                    <h4 style="text-align:center; color:black;"><span class="fa fa-clock"></span> Principal’s Meeting Time</h4>
                    <p style="text-align:center;">9:00 am to 10:00 am (Prior Appointment compulsory)</p>
                    </div>
                </div>
                <div class="container col-sm-4">
                    <div class="align-items-center">
                        <div class="bg-transparent text-center">
                            <span class="fa fa-envelope-open" style="color:#800000 !important;font-size:2.85em;"></span>
                        </div>
                    </div>

                    <div class="margin-20">
                        <h5 style="text-align: center; ">maharchildrenacademy2018@gmail.com</h5>

                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="margin-20">
                    <h4 style="text-align:center; color:black;"><span class="fa fa-clock"></span> Teacher’s Meeting Time </h4>
                    <p style="text-align:center;">12:20 pm to 1:00 pm (Saturday)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

