<!-- Footer Start here -->
<footer style="">
    <!--<div class="footer-top">
        <div class="container">
            <div class="row">

                <div id="ka_recent_photos-2" class="col-md-3 col-sm-6 col-xs-12 widget_ka_recent_photos">
                    <div class="footer-item">
                        <h4 class="title">Recent Photos</h4>

                        <ul class="photos">
                            <li><a href="#" data-rel="lightcase:myCollection"> <img src="~/images/PIC01-80x80.jpg" alt=""> </a></li>
                            <li><a href="#" data-rel="lightcase:myCollection"> <img src="~/images/PIC02-80x80.jpg" alt=""> </a></li>
                            <li><a href="#" data-rel="lightcase:myCollection"> <img src="~/images/PIC03-80x80.jpg" alt=""> </a></li>
                            <li><a href="#" data-rel="lightcase:myCollection"> <img src="~/images/PIC04-80x80.jpg" alt=""> </a></li>
                            <li><a href="#" data-rel="lightcase:myCollection"> <img src="~/images/PIC05-80x80.jpg" alt=""> </a></li>
                            <li><a href="#" data-rel="lightcase:myCollection"> <img src="~/images/PIC06-80x80.jpg" alt=""> </a></li>
                            <li><a href="#" data-rel="lightcase:myCollection"> <img src="~/images/PIC07-80x80.jpg" alt=""> </a></li>
                            <li><a href="#" data-rel="lightcase:myCollection"> <img src="~/images/PIC08-80x80.jpg" alt=""> </a></li>
                            <li><a href="#" data-rel="lightcase:myCollection"> <img src="~/images/PIC30-80x80.jpg" alt=""> </a></li>
                        </ul>


                    </div>
                </div>
                <div id="googlemapswidget-2" class="col-md-3 col-sm-6 col-xs-12 google-maps-widget">
                <div class="footer-item"><h4 class="title">Reach Us</h4>
                    <p><a data-gmw-id="googlemapswidget-2" class="gmw-thumbnail-map gmw-lightbox-enabled" href="#" title="Click to open a larger map">
                        <img width="300" height="300" alt="Click to open a larger map" title="Click to open a larger map" src="~/images/staticmap"></a></p>
                    </div></div>
            </div>--><!-- row -->
        <!--</div>--><!-- container -->
    <!--</div>-->
    <!-- footer top -->
    <img src="~/images/footer.png" class="img-responsive">
    <div class="footer-bottom" style="background:#1565c0;">

        <div class="container" style="background-color:#1565c0;">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <p style="text-align:left; color:white;">

                        You are Visitor No : &nbsp; 147333
                        
                    </p>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12" style="">
                    <p style="text-align:left; color:white;">
                        Copyright © 2018 - 2019 MCA, Sagar . All rights reserved.

                    </p>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <p style="text-align:center; color:white;">
                        <a href="#" style="color:white">Terms &amp; Conditions</a>
                    </p>
                    <p></p>
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- footer bottom -->
</footer>

@*<a class="page-scroll scroll-top" href="#scroll-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>*@
<!-- Footer End here -->
