
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="normalpage padding-30">
    <div class="container">
        <div class="row">
            <h3 style="color:#800000;font-size:40px; text-shadow: 0 1px 0 #800000, 0 2px 0 yellow, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15); margin-left:10px;"><strong>Uniform</strong></h3>
            <br>
            <div class="col-md-8">

                <style>
                    .carousel .carousel-control-prev, .carousel .carousel-control-next {
                        visibility: hidden;
                    }

                    .carousel:hover .carousel-control-prev, .carousel:hover .carousel-control-next {
                        visibility: visible;
                    }
                    .carousel .carousel-inner img{
                       vertical-align:central;
                       background-size:cover;
                    }

                    
                </style>

                <div id="carouselUniform" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/images/1.jpg" alt="Los Angeles" class="d-block" style="width:100%; height:100%;">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/2.jpg" alt="Chicago" class="d-block" style="width:100%; height:100%;">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselUniform" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselUniform" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
              
                <script type="text/javascript">

                    $('#carouselUniform carousel-item').carousel({
                    interval:1200,
                    });

                </script>
                <br>
                <br>
                <br>
            </div>
            <br>
            <div class="col-md-4">

                <div class="list-group">
                    <span href="#" class="list-group-item active" style="background:#1565c0; border-color:#1565c0; margin-top:-25px;">
                        Active Links
                        <span class="pull-right" id="slide-submenu">
                        </span>
                    </span>




                    <a href="../classroom/index.php" class="list-group-item">
                        Classroom
                    </a>

                    <a href="../computer-lab/index.php" class="list-group-item">
                        Computer Lab
                    </a>

                    <a href="../playground/index.php" class="list-group-item">
                        Playground
                    </a>

                    <a href="../library/index.php" class="list-group-item">
                        Library
                    </a>
                    <a href="../infirmary/index.php" class="list-group-item">
                        Infirmary
                    </a>


                </div>




            </div>
        </div>
    </div>
</section>
