
@{
    ViewBag.Title = "Infirmary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section class="normalpage padding-30">
    <div class="container">
        <div class="row">
            <div class="col-md-12">



                <div class="row">
                    <div class="container col-sm-8">
                        <div>

                            <h3 style="color:#800000;font-size:40px; text-shadow: 0 1px 0 #800000, 0 2px 0 yellow, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);">
                                Infirmary
                            </h3>
                            <div>
                                <br>


                                <img src="~/images/infirmary.jpg" class="img- responsive" style="height:450px; width:100%;">
                                <br><br>

                                <p style="text-align:justify;">
                                    At Mahar Children Academy the well being of our students is of utmost
                                    importance. We provide nursing services to students and staff members to
                                    maximize the general health and wellness. The school Infirmary is equipped
                                    with beds and all the necessary equipment and facilities to address the
                                    immediate health needs while in school.
                                    In the event of an emergency requiring medical attention, the student will be
                                    shifted to the nearest hospital and parents will be informed of the same. A
                                    comprehensive medical record of each student is maintained by the school.
                                    Basic first-aid kits have been made available in high risk areas such as the
                                    laboratories as well as on the school buses
                                </p>


                            </div>
                        </div>
                    </div>
                    <div class="container col-sm-4">
                        <div>
                            <div class="list-group">
                                <br>
                                <br>
                                <br>
                                <span href="#" class="list-group-item active" style="background:#1565c0; border-color:	#1565c0; margin-top:4px;">
                                    Active Links
                                    <span class="pull-right" id="slide-submenu">
                                    </span>
                                </span>


                                <a href="#" class="list-group-item">
                                    Classroom
                                </a>

                                <a href="#" class="list-group-item">
                                    Computer Lab
                                </a>

                                <a href="#" class="list-group-item">
                                    Playground
                                </a>

                                <a href="#" class="list-group-item">
                                    Library
                                </a>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

