
@{
    ViewBag.Title = "BriefHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header Start here -->
<!--<section class="page-header section-notch" style="background-image: url('../images/page-header-bg.jpg')">
    <div class="overlay">
        <div class="container">
            <h3>
                Brief History
            </h3>

            <ul>
            <li class="item-home">
                <a class="bread-link bread-home" href="http://www.mcasagar.com/school" title="Home">Home</a></li><li>&nbsp;-&nbsp;</li>
            <li class="item-current item-668"><span class="bread-current bread-668"> Brief History</span></li></ul>
        </div>--><!-- container -->
    <!--</div>--><!-- overlay -->
<!--</section>--><!-- page header -->
<!-- Page Header End here -->

<section class="normalpage padding-30">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 style="color:#800000;font-size:40px; text-shadow: 0 1px 0 #800000, 0 2px 0 yellow, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);"><strong>Brief History</strong></h3>
                
                <br>

                <div class="row">
                    <div class="container col-md-8">
                        
                                    <div>
                                        <p style="text-align:justify; "><strong>Welcome to Mahar Children Academy &#8230;</strong></p>
                                        <p style="text-align:justify;">
                                            <br>


                                            The Mahar Children Academy Pre-Primary School Was established in the year
                                            1954 as there was no schooling facility in the close vicinity for the children of its service personnel. Since then the school has progressed in all spheres.
                                            It was upgraded to class II in 1978 and to class V in 1982.
                                            It has an excellent track record of imparting quality education to the
                                            students and prepares them to assimilate higher education with ease. This
                                            is ensured with the help of efficient and dedicated faculty.
                                            The school is designed to have facilities like spacious and well-equipped
                                            classrooms and laboratories, a rich library, playgrounds, auditorium, etc for the all round development of the children. Our endeavour is to provide state
                                            of the art infrastructure and the best teaching faculty and thus make the
                                            school an epitome of excellent learning in the whole of Central India.
                                            We believe that education is an interactive partnership involving faculty,
                                            students, parents and the society. Through our mutual efforts, our students
                                            shall develop the skills and attitude to successfully meet the Let us make
                                            this venture successful.




                                        </p>

                                        <p style="text-align:justify;">
                                            <strong>
                                                “To leave the world a little bit better, Whether by a healthy child, a
                                                garden patch; To know that even one life has breathed Easier because
                                                you have lived; This is to have succeeded.”
                                            </strong>
                                        </p>


                                    </div>
                              
                    </div>
                    <div class="container col-md-4">
                                    <div>
                                        <div class="list-group">
                                            <span href="#" class="list-group-item active" style="background:#1565c0; border-color:#1565c0;">
                                                Active Links
                                                <span class="pull-right" id="slide-submenu">
                                                </span>
                                            </span>


                                            <a href="../vision/index.php" class="list-group-item">
                                                Vision
                                            </a>

                                            <a href="../principal/index.php" class="list-group-item">
                                                The Principal
                                            </a>


                                        </div>
                                    </div>
                    </div>
                </div>



                
            </div>
        </div>
    </div>
</section>
