
@{
    ViewBag.Title = "ThePrincipal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="normalpage padding-30">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="row">
                    <div class="container col-sm-8">
                        <div>
                            <h3 style="color:#800000;font-size:40px; text-shadow: 0 1px 0 #800000, 0 2px 0 yellow, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);"><strong>Principal’s Desk</strong></h3>

                            <div>
                                <br>
                                <!--<img src="principal.jpg" class="img- responsive" style="max-height:500px; width:100%;"/>-->



                                <p style="text-align:justify;">

                                    Each day is an inspiration and motivation for me when I see the unquenchable thirst and curiosity
                                    for knowledge in the students and hence our school strives to provide them a plethora of resources
                                    and teaching aids. Our school stresses on extensive interaction between children and nature which
                                    is duly promoted by the serene and green environment of the school. In the lap of nature and
                                    dense green foliage the children would get to know how much care goes into turning a young
                                    sapling into a fully grown fruit bearing tree, thereby giving them a lesson of gratitude for their
                                    parents and teachers who put in efforts day in and day out for their education.<br>
                                    Perpetual energy, movement and enthusiasm permeates the atmosphere at Mahar Children
                                    Academy. We value individualism, creativity and innovation and strive to nurture them in our
                                    students. We aim to not just impart knowledge to the students, but also to inculcate in them -
                                    wisdom, compassion and a humanitarian spirit. We have a multi- cultural student population; hence
                                    we teach children the importance of tolerance and respecting each other’s culture. Discipline,
                                    values and integrity are the very foundation of this school. Besides rigorous scholastic
                                    programmes, we seek to develop and nurture the different facets of a child. It is important for a
                                    child to explore and find their strengths in order to reach their true potential. Whether a child has an
                                    introvert or extrovert personality, the aim is to nurture the child into a self-confident individual.
                                    Our mission is to continue to do what we have always done: develop this school and the students
                                    with integrity and values; also, to give our students the best opportunities and the best all-round
                                    education. Our vision is to produce conscientious, smart and confident citizens of India who will go
                                    out into the world and make us proud!
                                    <br><br>

                                    <span style="color:black; font-weight:700;">
                                        Regards,<br>
                                        <!--Mrs. Tina Solanki<br>-->
                                        Principal<br>
                                        Mahar Children Academy, Sagar(M.P.)
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="container col-sm-4">
                        <div>
                            <br>
                            <br>
                            <br>
                            <div class="list-group">

                                <span href="#" class="list-group-item active" style="background:#1565c0; border-color:	#1565c0">
                                    Active Links
                                    <span class="pull-right" id="slide-submenu">
                                    </span>
                                </span>


                                <a href="../brief-history/index.php" class="list-group-item">
                                    Brief History
                                </a>

                                <a href="../vision/index.php" class="list-group-item">
                                    Vision
                                </a>


                            </div>
                        </div>
                    </div>

                </div>




            </div>
        </div>
    </div>
</section>


